<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.InventoryOwner.Internal.ConfigFile.InventoryOwnerFrameworkSection, InventoryOwnerFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.InventoryOwner.Infrastructure.LocalDbConnectionFactory, InventoryOwnerFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.InventoryOwner.SqlServer.SqlProviderServices, InventoryOwnerFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BackToBgContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=BackToBg.Data.BackToBgContext;integrated security=True;MultipleActiveResultSets=True;App=InventoryOwnerFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>